<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>blankApp.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>buildNumber</key>
			<string>1</string>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>979A1FDAA8B8952B9D3646E1E756122F7C64D816</string>
				<key>dateExpires</key>
				<string>7/9/23</string>
				<key>type</key>
				<string>Cloud Managed Apple Distribution</string>
			</dict>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>YMY522QWXA.com.lowkeylabs.bankapptest1</string>
				<key>com.apple.developer.team-identifier</key>
				<string>YMY522QWXA</string>
				<key>get-task-allow</key>
				<false/>
			</dict>
			<key>name</key>
			<string>blankApp.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>31302b1d-1b38-47cd-9044-143f8f7b47de</string>
				<key>dateExpires</key>
				<string>7/9/23</string>
				<key>name</key>
				<string>iOS Team Ad Hoc Provisioning Profile: com.lowkeylabs.bankapptest1</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>YMY522QWXA</string>
				<key>name</key>
				<string>John Leonard</string>
			</dict>
			<key>versionNumber</key>
			<string>0.1.0</string>
		</dict>
	</array>
</dict>
</plist>
